USE [master]
GO
/****** Object:  Database [DOAN1_WPF]    Script Date: 21-Apr-22 9:32:37 PM ******/
CREATE DATABASE [DOAN1_WPF]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DOAN1_WPF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DOAN1_WPF]
GO
/****** Object:  Table [dbo].[DANHMUCHANG]    Script Date: 21-Apr-22 9:32:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHMUCHANG](
	[MaLoaiHang] [char](5) NOT NULL,
	[TenLoaiHang] [nvarchar](50) NULL,
 CONSTRAINT [PK__DANHMUCH__BF613CFB588C0234] PRIMARY KEY CLUSTERED 
(
	[MaLoaiHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HANGHOA]    Script Date: 21-Apr-22 9:32:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANGHOA](
	[MaHang] [char](5) NOT NULL,
	[TenHang] [nvarchar](30) NULL,
	[DonViTinh] [nvarchar](10) NULL,
	[SoLuong] [int] NULL,
	[DonGia] [float] NULL,
	[MaLoaiHang] [char](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 21-Apr-22 9:32:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [char](5) NOT NULL,
	[HoTenKH] [nvarchar](30) NULL,
	[DiaChiKH] [nvarchar](50) NULL,
	[SdtKH] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOHANG]    Script Date: 21-Apr-22 9:32:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOHANG](
	[MaKho] [char](5) NOT NULL,
	[TenKho] [nvarchar](30) NULL,
	[DiaChiKho] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 21-Apr-22 9:32:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MaNCC] [char](5) NOT NULL,
	[TenNCC] [nvarchar](30) NULL,
	[DiaChiNCC] [nvarchar](50) NULL,
	[SdtNCC] [char](10) NULL,
	[MailNCC] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHANQUYEN]    Script Date: 21-Apr-22 9:32:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANQUYEN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 21-Apr-22 9:32:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MaPN] [char](5) NOT NULL,
	[NgayNhap] [date] NULL,
 CONSTRAINT [PK_PHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUXUAT]    Script Date: 21-Apr-22 9:32:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUXUAT](
	[MaPX] [char](5) NOT NULL,
	[NgayXuat] [date] NULL,
 CONSTRAINT [PK_PHIEUXUAT] PRIMARY KEY CLUSTERED 
(
	[MaPX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 21-Apr-22 9:32:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](max) NULL,
	[TaiKhoan] [nvarchar](100) NULL,
	[MatKhau] [nvarchar](max) NULL,
	[IdQuyen] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TTPHIEUNHAP]    Script Date: 21-Apr-22 9:32:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TTPHIEUNHAP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaPN] [char](5) NOT NULL,
	[MaNCC] [char](5) NOT NULL,
	[MaHang] [char](5) NOT NULL,
	[MaKho] [char](5) NOT NULL,
	[SLNhap] [int] NULL,
	[DGNhap] [float] NULL,
 CONSTRAINT [PK_NHAPHANG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TTPHIEUXUAT]    Script Date: 21-Apr-22 9:32:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TTPHIEUXUAT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [char](5) NOT NULL,
	[MaHang] [char](5) NOT NULL,
	[MaKho] [char](5) NOT NULL,
	[SLXuat] [int] NULL,
	[DGXuat] [float] NULL,
	[MaPX] [char](5) NULL,
 CONSTRAINT [PK_TTPHIEUXUAT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DANHMUCHANG] ([MaLoaiHang], [TenLoaiHang]) VALUES (N'333  ', N'33323')
INSERT [dbo].[DANHMUCHANG] ([MaLoaiHang], [TenLoaiHang]) VALUES (N'BK   ', N'Bánh Kẹo')
INSERT [dbo].[DANHMUCHANG] ([MaLoaiHang], [TenLoaiHang]) VALUES (N'test1', N'test1')
GO
INSERT [dbo].[HANGHOA] ([MaHang], [TenHang], [DonViTinh], [SoLuong], [DonGia], [MaLoaiHang]) VALUES (N'23   ', N'32', N'32', 32, 23, N'BK   ')
INSERT [dbo].[HANGHOA] ([MaHang], [TenHang], [DonViTinh], [SoLuong], [DonGia], [MaLoaiHang]) VALUES (N'33   ', N'33', N'33', 33, 33, N'BK   ')
INSERT [dbo].[HANGHOA] ([MaHang], [TenHang], [DonViTinh], [SoLuong], [DonGia], [MaLoaiHang]) VALUES (N'BA001', N'Bánh gạo', N'Gói', 10, 15000, N'BK   ')
GO
INSERT [dbo].[KHACHHANG] ([MaKH], [HoTenKH], [DiaChiKH], [SdtKH]) VALUES (N'1    ', N'132', N'1', N'1         ')
INSERT [dbo].[KHACHHANG] ([MaKH], [HoTenKH], [DiaChiKH], [SdtKH]) VALUES (N'2    ', N'2', N'2', N'2         ')
INSERT [dbo].[KHACHHANG] ([MaKH], [HoTenKH], [DiaChiKH], [SdtKH]) VALUES (N'KH001', N'Nguyễn Văn A', N'Hồ Chí Minh', N'0111111111')
GO
INSERT [dbo].[KHOHANG] ([MaKho], [TenKho], [DiaChiKho]) VALUES (N'BD001', N'Kho Bình Dương', N'Bình Dương')
INSERT [dbo].[KHOHANG] ([MaKho], [TenKho], [DiaChiKho]) VALUES (N'DN001', N'Kho Đà Nẵng', N'Đà Nẵng')
INSERT [dbo].[KHOHANG] ([MaKho], [TenKho], [DiaChiKho]) VALUES (N'HN001', N'Kho Hà Nội cơ sở 1', N'Hà Nội')
GO
INSERT [dbo].[NHACUNGCAP] ([MaNCC], [TenNCC], [DiaChiNCC], [SdtNCC], [MailNCC]) VALUES (N'12   ', N'12321', N'12', N'12        ', N'12')
INSERT [dbo].[NHACUNGCAP] ([MaNCC], [TenNCC], [DiaChiNCC], [SdtNCC], [MailNCC]) VALUES (N'BK001', N'Công ty CP Bánh kẹo Hải Hà', N'Hà Nội', N'0987654321', N'hh@gmail.com')
INSERT [dbo].[NHACUNGCAP] ([MaNCC], [TenNCC], [DiaChiNCC], [SdtNCC], [MailNCC]) VALUES (N'TP001', N'Công ty CP ChinsuFood', N'Đà Nẵng', N'0986541231', N'cs@gmail.com')
GO
SET IDENTITY_INSERT [dbo].[PHANQUYEN] ON 

INSERT [dbo].[PHANQUYEN] ([ID], [Ten]) VALUES (1, N'Admin')
INSERT [dbo].[PHANQUYEN] ([ID], [Ten]) VALUES (2, N'Nhân viên')
SET IDENTITY_INSERT [dbo].[PHANQUYEN] OFF
GO
INSERT [dbo].[PHIEUNHAP] ([MaPN], [NgayNhap]) VALUES (N'1    ', CAST(N'2022-01-04' AS Date))
INSERT [dbo].[PHIEUNHAP] ([MaPN], [NgayNhap]) VALUES (N'12   ', CAST(N'2022-04-13' AS Date))
INSERT [dbo].[PHIEUNHAP] ([MaPN], [NgayNhap]) VALUES (N'2    ', CAST(N'2022-10-31' AS Date))
GO
INSERT [dbo].[PHIEUXUAT] ([MaPX], [NgayXuat]) VALUES (N'1    ', CAST(N'2021-10-10' AS Date))
INSERT [dbo].[PHIEUXUAT] ([MaPX], [NgayXuat]) VALUES (N'2    ', CAST(N'2021-11-09' AS Date))
GO
SET IDENTITY_INSERT [dbo].[TAIKHOAN] ON 

INSERT [dbo].[TAIKHOAN] ([ID], [Ten], [TaiKhoan], [MatKhau], [IdQuyen]) VALUES (5, N'admin', N'admin', N'admin', 1)
INSERT [dbo].[TAIKHOAN] ([ID], [Ten], [TaiKhoan], [MatKhau], [IdQuyen]) VALUES (6, N'Nhân viên', N'staff', N'staff', 2)
SET IDENTITY_INSERT [dbo].[TAIKHOAN] OFF
GO
SET IDENTITY_INSERT [dbo].[TTPHIEUNHAP] ON 

INSERT [dbo].[TTPHIEUNHAP] ([ID], [MaPN], [MaNCC], [MaHang], [MaKho], [SLNhap], [DGNhap]) VALUES (3, N'3    ', N'TP001', N'MI002', N'DN001', 100, 70000)
INSERT [dbo].[TTPHIEUNHAP] ([ID], [MaPN], [MaNCC], [MaHang], [MaKho], [SLNhap], [DGNhap]) VALUES (4, N'4    ', N'TP002', N'MI002', N'DN001', 100, 70000)
INSERT [dbo].[TTPHIEUNHAP] ([ID], [MaPN], [MaNCC], [MaHang], [MaKho], [SLNhap], [DGNhap]) VALUES (6, N'1    ', N'BK001', N'BA001', N'HN001', 100, 50000)
SET IDENTITY_INSERT [dbo].[TTPHIEUNHAP] OFF
GO
SET IDENTITY_INSERT [dbo].[TTPHIEUXUAT] ON 

INSERT [dbo].[TTPHIEUXUAT] ([ID], [MaKH], [MaHang], [MaKho], [SLXuat], [DGXuat], [MaPX]) VALUES (1, N'KH001', N'BA001', N'HN001', 30, 100000, N'1    ')
INSERT [dbo].[TTPHIEUXUAT] ([ID], [MaKH], [MaHang], [MaKho], [SLXuat], [DGXuat], [MaPX]) VALUES (5, N'KH002', N'BA001', N'HN001', 200, 50000, N'2    ')
SET IDENTITY_INSERT [dbo].[TTPHIEUXUAT] OFF
GO
ALTER TABLE [dbo].[HANGHOA]  WITH CHECK ADD  CONSTRAINT [FK__HANGHOA__MALOAIH__3C69FB99] FOREIGN KEY([MaLoaiHang])
REFERENCES [dbo].[DANHMUCHANG] ([MaLoaiHang])
GO
ALTER TABLE [dbo].[HANGHOA] CHECK CONSTRAINT [FK__HANGHOA__MALOAIH__3C69FB99]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD FOREIGN KEY([IdQuyen])
REFERENCES [dbo].[PHANQUYEN] ([ID])
GO
ALTER TABLE [dbo].[TTPHIEUNHAP]  WITH CHECK ADD FOREIGN KEY([MaHang])
REFERENCES [dbo].[HANGHOA] ([MaHang])
GO
ALTER TABLE [dbo].[TTPHIEUNHAP]  WITH CHECK ADD FOREIGN KEY([MaKho])
REFERENCES [dbo].[KHOHANG] ([MaKho])
GO
ALTER TABLE [dbo].[TTPHIEUNHAP]  WITH CHECK ADD FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NHACUNGCAP] ([MaNCC])
GO
ALTER TABLE [dbo].[TTPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK__TTPHIEUNHA__MaPN__4E88ABD4] FOREIGN KEY([MaPN])
REFERENCES [dbo].[PHIEUNHAP] ([MaPN])
GO
ALTER TABLE [dbo].[TTPHIEUNHAP] CHECK CONSTRAINT [FK__TTPHIEUNHA__MaPN__4E88ABD4]
GO
ALTER TABLE [dbo].[TTPHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK__TTPHIEUXU__MAHAN__3C69FB99] FOREIGN KEY([MaHang])
REFERENCES [dbo].[HANGHOA] ([MaHang])
GO
ALTER TABLE [dbo].[TTPHIEUXUAT] CHECK CONSTRAINT [FK__TTPHIEUXU__MAHAN__3C69FB99]
GO
ALTER TABLE [dbo].[TTPHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK__TTPHIEUXU__MAKHO__3D5E1FD2] FOREIGN KEY([MaKho])
REFERENCES [dbo].[KHOHANG] ([MaKho])
GO
ALTER TABLE [dbo].[TTPHIEUXUAT] CHECK CONSTRAINT [FK__TTPHIEUXU__MAKHO__3D5E1FD2]
GO
ALTER TABLE [dbo].[TTPHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK__TTPHIEUXU__MANKH__3E52440B] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[TTPHIEUXUAT] CHECK CONSTRAINT [FK__TTPHIEUXU__MANKH__3E52440B]
GO
ALTER TABLE [dbo].[TTPHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK_MAPX] FOREIGN KEY([MaPX])
REFERENCES [dbo].[PHIEUXUAT] ([MaPX])
GO
ALTER TABLE [dbo].[TTPHIEUXUAT] CHECK CONSTRAINT [FK_MAPX]
GO
USE [master]
GO
