USE [master]
GO
/****** Object:  Database [fixx]    Script Date: 24-Mar-22 12:13:26 AM ******/
CREATE DATABASE [fixx]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'fixx', FILENAME = N'D:\SQL\MSSQL\MSSQL15.PC\MSSQL\DATA\fixx.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'fixx_log', FILENAME = N'D:\SQL\MSSQL\MSSQL15.PC\MSSQL\DATA\fixx_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [fixx].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [fixx]
GO
/****** Object:  Table [dbo].[DANHMUCHANG]    Script Date: 24-Mar-22 12:13:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHMUCHANG](
	[MALOAIHANG] [char](5) NOT NULL,
	[TENLOAIHANG] [nvarchar](50) NULL,
 CONSTRAINT [PK__DANHMUCH__BF613CFB588C0234] PRIMARY KEY CLUSTERED 
(
	[MALOAIHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HANGHOA]    Script Date: 24-Mar-22 12:13:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANGHOA](
	[MAHANG] [char](5) NOT NULL,
	[TENNHANG] [nvarchar](30) NULL,
	[DONVITINH] [nvarchar](10) NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [float] NULL,
	[MALOAIHANG] [char](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 24-Mar-22 12:13:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [char](5) NOT NULL,
	[HOTENKH] [nvarchar](30) NULL,
	[DIACHIKH] [nvarchar](50) NULL,
	[SDTKH] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOHANG]    Script Date: 24-Mar-22 12:13:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOHANG](
	[MAKHO] [char](5) NOT NULL,
	[TENKHO] [nvarchar](30) NULL,
	[DIACHIKHO] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 24-Mar-22 12:13:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [char](5) NOT NULL,
	[TENNCC] [nvarchar](30) NULL,
	[DIACHINCC] [nvarchar](50) NULL,
	[SDTNCC] [char](10) NULL,
	[MAILNCC] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHANQUYEN]    Script Date: 24-Mar-22 12:13:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANQUYEN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 24-Mar-22 12:13:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MAPN] [char](5) NOT NULL,
	[NGAYNHAP] [datetime] NULL,
 CONSTRAINT [PK_PHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUXUAT]    Script Date: 24-Mar-22 12:13:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUXUAT](
	[MAPX] [char](5) NOT NULL,
	[NGAYXUAT] [datetime] NULL,
 CONSTRAINT [PK_PHIEUXUAT] PRIMARY KEY CLUSTERED 
(
	[MAPX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 24-Mar-22 12:13:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](max) NULL,
	[TAIKHOAN] [nvarchar](100) NULL,
	[MATKHAU] [nvarchar](max) NULL,
	[IDQUYEN] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TTPHIEUNHAP]    Script Date: 24-Mar-22 12:13:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TTPHIEUNHAP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MAPN] [char](5) NOT NULL,
	[MANCC] [char](5) NOT NULL,
	[MAHANG] [char](5) NOT NULL,
	[MAKHO] [char](5) NOT NULL,
	[SLNHAP] [int] NULL,
	[DGNHAP] [float] NULL,
 CONSTRAINT [PK_NHAPHANG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TTPHIEUXUAT]    Script Date: 24-Mar-22 12:13:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TTPHIEUXUAT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MANPX] [char](5) NOT NULL,
	[MANKH] [char](5) NOT NULL,
	[MAHANG] [char](5) NOT NULL,
	[MAKHO] [char](5) NOT NULL,
	[SLXUAT] [int] NULL,
	[DGXUAT] [float] NULL,
	[MAPX] [char](5) NULL,
 CONSTRAINT [PK_TTPHIEUXUAT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DANHMUCHANG] ([MALOAIHANG], [TENLOAIHANG]) VALUES (N'BK   ', N'Bánh Kẹo')
INSERT [dbo].[DANHMUCHANG] ([MALOAIHANG], [TENLOAIHANG]) VALUES (N'TP   ', N'Thực phẩm')
INSERT [dbo].[DANHMUCHANG] ([MALOAIHANG], [TENLOAIHANG]) VALUES (N'VS   ', N'Đồ dùng cá nhân')
GO
INSERT [dbo].[HANGHOA] ([MAHANG], [TENNHANG], [DONVITINH], [SOLUONG], [DONGIA], [MALOAIHANG]) VALUES (N'BA001', N'Bánh gạo', N'Gói', 10, 15000, N'BK   ')
INSERT [dbo].[HANGHOA] ([MAHANG], [TENNHANG], [DONVITINH], [SOLUONG], [DONGIA], [MALOAIHANG]) VALUES (N'KE001', N'Kẹo 500k', N'Gói', 10, 10000, N'BK   ')
INSERT [dbo].[HANGHOA] ([MAHANG], [TENNHANG], [DONVITINH], [SOLUONG], [DONGIA], [MALOAIHANG]) VALUES (N'MI001', N'Mì tôm Hảo Hảo', N'Thùng', 20, 120000, N'TP   ')
GO
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTENKH], [DIACHIKH], [SDTKH]) VALUES (N'KH001', N'Nguyễn Văn A', N'Hồ Chí Minh', N'0111111111')
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTENKH], [DIACHIKH], [SDTKH]) VALUES (N'KH002', N'Trương Văn B', N'Hà Nội', N'0333333333')
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTENKH], [DIACHIKH], [SDTKH]) VALUES (N'KH003', N'Nguyễn Thị C', N'Lào Cai', N'0888888888')
GO
INSERT [dbo].[KHOHANG] ([MAKHO], [TENKHO], [DIACHIKHO]) VALUES (N'BD001', N'Kho Bình Dương', N'Bình Dương')
INSERT [dbo].[KHOHANG] ([MAKHO], [TENKHO], [DIACHIKHO]) VALUES (N'DN001', N'Kho Đà Nẵng', N'Đà Nẵng')
INSERT [dbo].[KHOHANG] ([MAKHO], [TENKHO], [DIACHIKHO]) VALUES (N'HN001', N'Kho Hà Nội cơ sở 1', N'Hà Nội')
GO
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHINCC], [SDTNCC], [MAILNCC]) VALUES (N'BK001', N'Công ty CP Bánh kẹo Hải Hà', N'Hà Nội', N'0987654321', N'hh@gmail.com')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHINCC], [SDTNCC], [MAILNCC]) VALUES (N'TP001', N'Công ty CP ChinsuFood', N'Đà Nẵng', N'0986541231', N'cs@gmail.com')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHINCC], [SDTNCC], [MAILNCC]) VALUES (N'TP002', N'Công ty thực phẩm Thiên Hưng', N'Hồ Chí Minh', N'0123456789', N'tg@gmail.com')
GO
SET IDENTITY_INSERT [dbo].[PHANQUYEN] ON 

INSERT [dbo].[PHANQUYEN] ([ID], [TEN]) VALUES (1, N'Admin')
INSERT [dbo].[PHANQUYEN] ([ID], [TEN]) VALUES (2, N'Nhân viên')
SET IDENTITY_INSERT [dbo].[PHANQUYEN] OFF
GO
SET IDENTITY_INSERT [dbo].[TAIKHOAN] ON 

INSERT [dbo].[TAIKHOAN] ([ID], [TEN], [TAIKHOAN], [MATKHAU], [IDQUYEN]) VALUES (1, N'Admin', N'admin', N'db69fc039dcbd2962cb4d28f5891aae1', 1)
INSERT [dbo].[TAIKHOAN] ([ID], [TEN], [TAIKHOAN], [MATKHAU], [IDQUYEN]) VALUES (2, N'Nhân viên', N'staff', N'978aae9bb6bee8fb75de3e4830a1be46', 2)
SET IDENTITY_INSERT [dbo].[TAIKHOAN] OFF
GO
ALTER TABLE [dbo].[HANGHOA]  WITH CHECK ADD  CONSTRAINT [FK__HANGHOA__MALOAIH__3C69FB99] FOREIGN KEY([MALOAIHANG])
REFERENCES [dbo].[DANHMUCHANG] ([MALOAIHANG])
GO
ALTER TABLE [dbo].[HANGHOA] CHECK CONSTRAINT [FK__HANGHOA__MALOAIH__3C69FB99]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD FOREIGN KEY([IDQUYEN])
REFERENCES [dbo].[PHANQUYEN] ([ID])
GO
ALTER TABLE [dbo].[TTPHIEUNHAP]  WITH CHECK ADD FOREIGN KEY([MAHANG])
REFERENCES [dbo].[HANGHOA] ([MAHANG])
GO
ALTER TABLE [dbo].[TTPHIEUNHAP]  WITH CHECK ADD FOREIGN KEY([MAKHO])
REFERENCES [dbo].[KHOHANG] ([MAKHO])
GO
ALTER TABLE [dbo].[TTPHIEUNHAP]  WITH CHECK ADD FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[TTPHIEUNHAP]  WITH CHECK ADD FOREIGN KEY([MAPN])
REFERENCES [dbo].[PHIEUNHAP] ([MAPN])
GO
ALTER TABLE [dbo].[TTPHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK__TTPHIEUXU__MAHAN__3C69FB99] FOREIGN KEY([MAHANG])
REFERENCES [dbo].[HANGHOA] ([MAHANG])
GO
ALTER TABLE [dbo].[TTPHIEUXUAT] CHECK CONSTRAINT [FK__TTPHIEUXU__MAHAN__3C69FB99]
GO
ALTER TABLE [dbo].[TTPHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK__TTPHIEUXU__MAKHO__3D5E1FD2] FOREIGN KEY([MAKHO])
REFERENCES [dbo].[KHOHANG] ([MAKHO])
GO
ALTER TABLE [dbo].[TTPHIEUXUAT] CHECK CONSTRAINT [FK__TTPHIEUXU__MAKHO__3D5E1FD2]
GO
ALTER TABLE [dbo].[TTPHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK__TTPHIEUXU__MANKH__3E52440B] FOREIGN KEY([MANKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[TTPHIEUXUAT] CHECK CONSTRAINT [FK__TTPHIEUXU__MANKH__3E52440B]
GO
ALTER TABLE [dbo].[TTPHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK_MAPX] FOREIGN KEY([MAPX])
REFERENCES [dbo].[PHIEUXUAT] ([MAPX])
GO
ALTER TABLE [dbo].[TTPHIEUXUAT] CHECK CONSTRAINT [FK_MAPX]
GO
USE [master]
GO
